.slot {
    display: flex;
    margin-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(255,255,255,0.5);
}

h5 {
    min-width: 30%;
}

a {
    text-decoration: none;
}

.team {

}

.teams {
    width: 70%;
}