.slot {
    display: flex;
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: solid;
    border-color: rgb(226, 226, 226);
}

h5 {
    min-width: 30%;
}

a {
    text-decoration: none;
}

.teams {
    width: 70%;
}