<div *ngIf="selectedMatch" class="match-details-container">

    <div class="head">
        <h2>{{selectedMatch.homeTeam.name}} VS
            {{selectedMatch.awayTeam.name}}</h2>
        <div *ngIf="selectedMatch.status == inPlay ||
            selectedMatch.status == paused">
            <h2>{{selectedMatch.score.fullTime.homeTeam}}
                - {{selectedMatch.score.fullTime.awayTeam}}</h2>
        </div>
    </div>



    <div class="center">
        <div>
            <h3>competition:</h3> <h2>
                {{selectedMatch.competition.name}}</h2>
            <h3>date:</h3> <h2>{{formattedTime}}</h2>
            <h3>status:</h3> <h2>{{selectedMatch.status}}</h2>
        </div>
        <div *ngIf="selectedMatch.status == inPlay ||
            selectedMatch.status == paused">
            <h3>match clock:</h3> <h2></h2>
            <h3>first or second half:</h3> <h2></h2>

        </div>
    </div>

</div>
