.match-container {
    margin-left: 20px;
    margin-right: 20px;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 1%;
    overflow: auto;
    height: fit-content;
}

.match-list {
    overflow-y: auto;
    max-height: 65vh;
    margin-top: 10px;
}